# Byte-compiled / optimized / DLL archive
__pycache__/
*.py[cod]
*$py.class

# Caches
.cache/
cache/
.pytest_cache/
.mypy_cache/

# Environments
.venv/
venv/
ENV/
env/

# Secrets and local configuration
.env
.flaskenv

# IDEs and Editors
.vscode/
.idea/
.cursor/
.cursorrules
*.swp
*~

# OS files
.DS_Store
Thumbs.db

# Project-specific ignores
third_party/
skypatrol/

# Results
docs/test_binary_output.vot
docs/test_plain_output.vot

# Other
canvases/
docs/bessell2005.pdf
pkl/
